.App {
  text-align: center;
}
*{
  outline: none;
  border: none;
}


/*Navbar*/

.navbarcontainer{
  position: sticky;
  top:0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#navbar{
  height: 50px;
  background-color:white;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  z-index: 10000;
}

#navbar a{
  text-decoration: none;
}

.leftside{
  height: 50px;
  padding: 0 20px;
  padding-top: 10px;
  font-size: 17pt;
  font-weight: 700;
  display: flex;
}
.rightside{
  padding-top: 10px;
  height: 50px;
}
.rightside a{
  padding: 0px 20px;
  font-size: 17pt;
  font-weight: 700;
}

.burgermenu{
  display:none;
}

.menu{
  display:none;
}

.searchbar{
  width: 100%;
  display:flex;
}
.searchbar input{
  width: 100%;
  font-size: 16pt;
  font-weight: 700;
  letter-spacing: 2px;
  padding-left: 20px;
  color: rgb(142, 142, 142);
}


/* homepage */

.homepage{
  height: 200vh;
  background-color: green;
}

.homepage h1{
  margin-top: 0;
  
  margin: 20px;
}

.item{
  margin: 20px;
  width: 200px;
  float: left;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
}
.itemimage{
  height: 200px;
  max-width: 200px;
}



/*image uploader button section */
.container {
  position: relative;
  height: 250px;
  float: left;
  margin: 15px;
}

.image {
  display: block;
  height: 100%;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: rgb(223, 0, 0);
  overflow: hidden;
  width: 0;
  opacity: 0;
  height: 100%;
  transition: .3s ease;
  cursor: pointer;
  border-radius: 10px;
}

.container:hover .overlay {
  width: 100%;
  left: 0;
  opacity: 0.8;
}

.text {
  color: white;
  font-weight: 700;
  font-size: 20pt;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

.uploadbutton{
  font-size: 13pt;
  font-weight: 700;
  border-radius: 20px;
  border: 3px solid rgb(44, 179, 44);
  padding: 6px 12px;
  cursor: pointer;
  transition: .3s;
}

.uploadbutton:hover{
  background-color:  rgb(44, 179, 44);
  color: white;
}

/*Login page*/
.logincontainer{
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logincontainer form{
  width: 300px;
  height: 260px;
  position: fixed;
  top: 30vh;
}

.logincontainer h3{
  margin: 0;
  padding:0;
  font-size: 23pt;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.logincontainer input{
  background-color: rgba(213, 213, 213, 0.714);
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  padding: 2px 0px;
  padding-left: 15px;
  font-size: 13pt;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 20px;
  height: 25px;
}

.loginbutton{
  border-radius: 20px;
  font-size: 20pt;
  width: 60%;
  margin: auto;
  padding: 3px 0px;
  cursor: pointer;
  background-color: rgb(0, 191, 0);
  font-weight: 700;
  letter-spacing: 2px;
  transition: .5s;
  color: white;
}

.loginbutton:hover{
  letter-spacing: 5px;
}

.signupbutton{
  margin-top: 10px;
  background-color: rgb(255, 65, 65);
}

/*sign page*/
.signupcontainer form{
  width: 400px;
}

#city{
  width: 50%;
  margin-right: 10px;
}

#zipcode{
  width: 25%;
}





@media only screen and (max-width: 980px) {
  .rightside{
    display:none;
  }

  .burgermenu{
    display:block;
    margin-top: 5px;
    margin-right: 10px;
    height: 40px;
    width: 50px;
    border-radius: 50%;
    opacity: 0.6;
    transition: .5s;
    cursor: pointer;
  }

  .burgermenu:hover{
    opacity: .9;
    background-color: rgba(206, 206, 206, 0.5);
  }

  .burgermenu img{
    margin-top: 5px;
    height: 30px;
  }

  .menu{
    width: 200px;
    border-radius: 20px;
    position: absolute;
    display: block;
    height: 135px;
    background-color: white;
    right: 0;
    opacity: 0;
    transition: .5s;
    transform: translateY(-400px) translateX(-20px)scaleY(0);
    z-index: 1;
  }
  .menu a{
    width: 100%;
    text-decoration: none;
    padding: 20px 0px;
    display: block;
    font-size: 18pt;
    font-weight: 700;
    border-radius: 20px;
    transition: .3s;
  }
  .menu a:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: rgb(223, 223, 223);
    letter-spacing: 2px;
  }

  .open{
    opacity: 1;
    transform: translateY(20px) translateX(-20px);
  }
}