.loader{
  height: 100vh;
  width: 100%;
  z-index: 10000000000;
  top:0;
  left:0;
  background: rgb(34, 34, 34);
  animation: fade 10s forwards;
  animation-iteration-count: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

@keyframes fade {
  0%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  99.9%{
    opacity: 0;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    transform: scale(0);
  }
}


.fade-appear,.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,.fade-enter.fade-enter-active {
    opacity: 1;
    transition:  0.3s ease-out 0.1s;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: 0.3s ease-out 0.1s;
}


.background{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: antiquewhite;
  filter: blur(0px);
  background-image: url("https://www.fg-a.com/wallpapers/white-marble-1-2018.jpg");
  background-size: cover;
  z-index: -1;
}
